.mission {
    background-color: #f2e7dd;
    text-align: center;
    padding: 60px 20px;
  }
  
  .mission h2 {
    font-size: 36px;
    font-weight: bold;
    color: #292421;
    margin-bottom: 20px;
  }
  
  .mission p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.admin-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a3534a;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-button:hover {
  background-color: #7b3e38;
}

.contact-us {
  background-color: #f2e7dd;
  text-align: center;
  padding: 20px 20px;
}

.contact-us h2 {
  font-size: 36px;
  font-weight: bold;
  color: #292421;
  margin-bottom: 10px;
}

.contact-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.contact-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.contact-box {
  background-color: #f8f8f8;
  padding: 30px 20px;
  border-radius: 20px;
  width: 260px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-icon {
  font-size: 36px;
  margin-bottom: 15px;
  color: #a3534a;
}

.contact-box h3 {
  font-size: 20px;
  color: #292421;
  margin-bottom: 10px;
}

.contact-box p {
  font-size: 13px;
  color: #333;
  margin-bottom: 15px;
}

.contact-box a {
  font-size: 13px;
  color: #0d63c5;
  margin-bottom: 15px;
}

.contact-button {
  padding: 9px 16px;
  background-color: #a3534a;
  color: #f8f8f8;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #7b3e38;
}

