.signup-page {
    height: 80vh;
    width: 100vw;
    background: linear-gradient(to bottom right, #f8ebe3,#f8ebe3);
    position: relative;
    overflow: show;
  }
  
  .signup-container {
    display: flex;
    height: 95%;
    padding-top:7rem;
    justify-content: center;
    align-items: center;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      width: 70%;
      max-width: 500px;
    }
  }
  
  .right-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .signup-box {
      background: white;
      padding: 2rem;
      border-radius: 20px;
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.15);
      width: 100%;
      max-width: 400px;
  
      h2 {
        color: #ef6c57;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-family: "League Spartan";
        text-align: center;
      }
  
      .input-group {
        display: flex;
        align-items: center;
        background: #0000;
        border-radius: 10px;
        padding: 0.75rem;
        margin-bottom: 1rem;
  
        input {
          border: none;
          background: transparent;
          width: 100%;
          font-size: 1rem;
          color: black;
  
          &:focus {
            outline: none;
          }
        }
      }
  
      .signup-btn {
        width: 100%;
        padding: 0.75rem;
        background-color: #d78877;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s ease;
  
        &:hover {
          background-color: #c76b5d;
        }
      }
  
      .login-text {
        text-align: center;
        margin-top: 1rem;
        font-size: 0.875rem;
  
        a {
          color: #c76b5d;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
  