.fhome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f3e7dd;
    color: black;
    text-align: center;
  }
  
  .time-day {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between time and day */
  }
  
  .ph-time {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
  }
  
  .current-day {
    font-size: 30px;
    margin-top: 10px;
  }
  
  .full-date {
    font-size: 20px;
    margin-top: 5px;
    color: #333;
  }
  