.developers {
    margin-top: 0;
    padding: 60px 40px;
    background-color: #F2E7DD;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .devrectangle {
    position: relative;
    width: 426px;             /* Rectangle width */
    height: 78px;             /* Rectangle height */
    background-color: #CA8E82;
    border-radius: 27px;
    margin: 0 auto;           /* Centering the rectangle horizontally */
    display: flex;
    justify-content: center;  /* Center text horizontally */
    align-items: center;      /* Center text vertically */
    gap: 5px;                 /* Spacing between elements inside the rectangle */
    padding: 0 20px;          /* Padding inside the rectangle */
    overflow: hidden;         /* Hide overflow content */
  }
  
  .devrectangle-text {
    color: #000000;           /* Text color */
    font-size: 20px;           /* Text size */
    font-weight: bold;        /* Bold text */
    text-align: center;       /* Center align the text */
    margin: 0;    
  }
  
  .developers h2 {
    font-size: 36px;
    margin-bottom: 32px;
  }
  
  .developer-cards {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 55px;
  }
  
  .developer-card {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 196px;
    height: 196px;
  }
  
  .developer-card img {
    width: 162px;
    height: 162px; /* Set a fixed height if needed */
    object-fit: cover; /* Ensures images cover the space without distortion */
    border-radius: 20px;
    margin-bottom: 15px;
  }
  
  .developer-card h3 {
    font-size: 20px;
    color: #333;
  }
  