/* General Styles for Home */
.home-container {
    padding-top: 100px; /* Offset for fixed navbar */
    text-align: center;
  }
  
  .hero-section {
    border-top: 2px #292421;
    background-color: #f0f0f0;
    padding: 180px 40px;  /* Increased padding for space */
    border-bottom: 2px solid #CA8E82;
    border-radius: 36px;
    max-width: 1500px;  /* Limiting the maximum width */
    margin: 0 auto;
  
    /* Flexbox to align image and text */
    display: flex;
    justify-content: flex-end;  /* Align text to the far right */
    align-items: center;        /* Vertically center the content */
  }
  
  .hero-section .text-container {
    text-align: right;  /* Ensure the text aligns to the right */
  }
  
  .hero-section h1 {
    font-size: 36px;
    color: #333;
  }
  
  .hero-section p {
    font-size: 18px;
    color: #666;
  }
  
  .hero-section .image-container {
    margin-right: 50px;  /* Space for the image on the left side */
    width: 35%;          /* Give space for the image on the left */
  }
  
  .hero-section img {
    width: 100%;  /* Ensure the image takes up full space within its container */
    height: auto;  /* Maintain image aspect ratio */
  }  
  
  .shop-now {
    padding: 10px 20px;
    background-color: #CA8E82;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 27px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .shop-now:hover {
    background-color: #292421;
  }
  
  /* Features Section */
  .features {
    padding: 50px 20px;
  }
  
  .features h2 {
    font-size: 30px;
    color: #333;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
  
  .feature-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
  }
  
  .feature-card h3 {
    font-size: 20px;
    color: #CA8E82;
  }
  
  .feature-card p {
    font-size: 16px;
    color: #555;
  }
  