/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
  }
  
  .navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Dark background when scrolled */
  }
  
  .navbar img {
    width: 45px;
    height: auto;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin: 0 15px;
  }
  
  .navbar-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-menu a:hover {
    color: #CA8E82; /* Hover color */
  }
  
  .navbar-menu .active {
    color: #CA8E82; /* Active section color */
    font-weight: bold;
  }
  
  .navbar-button {
    padding: 10px 20px;
    background-color: #CA8E82;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 27px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #e6c100;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-menu {
      flex-direction: column;
      margin-top: 10px;
    }
  
    .navbar-menu li {
      margin: 10px 0;
    }
  
    .navbar-button {
      margin-top: 20px;
    }
  }
  