.category-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  
  .category-button {
    padding: 10px 30px;
    border: 2px solid #CA8E82;
    background-color: #F2E7DD;
    color: #F2E7DD;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .category-button:hover {
    background-color: #CA8E82;
    color: white;
  }
  