.fnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F2E7DD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fnavbar-left {
    display: flex;
    justify-content: flex-start;
}

.fnavbar-center {
    display: flex;
    justify-content: center;
    flex: 2; /* This will take up more space in the middle */
}

.fnavbar-logo {
    height: 40px;
    margin-top: 10px;
}

.fnavbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center; /* Center the buttons */
    flex: 17; /* Ensures the right side only takes as much space as it needs */
}

.icon-button {
    background-color: ;
    color: #f3e7dd;
    border: none;
    border-radius: 37%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.icon-button:hover {
    background-color: #CA8E82;
}
  
  .start-selling {
    background-color: black;
    color: #f3e7dd;
    border: none;
    padding: 13px 34px;
    border-radius: 27px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .start-selling:hover {
    background-color: #CA8E82;
  }
  

  body {
    padding-top: 60px;
  }
  