.fnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F2E7DD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .fnavbar-left {
    display: flex;
    justify-content: flex-start;
    flex: -10; /* Make sure the icon is aligned to the left */
  }
  
  .fnavbar-center {
    display: flex;
    justify-content: center;
    flex: 2; /* Allow the button to stay in the center */
    margin-top: 10px;
  }
  
  .fnavbar-logo {
    height: 40px;
    margin-top: 10px;
  }
  
  .fnavbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    flex: 1;
  }
  
  .icon-button {
    background-color: black;
    color: #f3e7dd;
    border: none;
    border-radius: 37%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .icon-button:hover {
    background-color: #CA8E82;
  }
  
  .start-selling {
    background-color: black;
    color: #f3e7dd;
    border: none;
    padding: 13px 34px;
    border-radius: 27px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .start-selling:hover {
    background-color: #CA8E82;
  }
  
  /* Adjust content padding to avoid navbar overlap */
  body {
    padding-top: 60px; /* Ensure that the page content doesn't hide under the navbar */
  }
  