.fnavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3e7dd;
    padding: 10px 20px;
  }
  
  .fnavbar-left {
    display: flex;
    justify-content: flex-start;
    flex: 5; /* Ensures this section is aligned to the left */
  }
  
  .fnavbar-center {
    display: flex;
    justify-content: center;
    flex: 2; /* Adjust this for your desired width */
  }
  
  .fnavbar-logo {
    height: 40px;
  }
  
  .fnavbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    fle
  }
  
  .icon-button {
    background-color: black;
    color: #f3e7dd;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .start-selling {
    background-color: black;
    color: #f3e7dd;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
  }
  