/* General Styles for Home */
.home-container {
    padding-top: 100px; /* Offset for fixed navbar */
    text-align: center;
  }
  
  .hero-section {
    background-color: #f0f0f0;
    padding: 100px 40px;
    border: 2px solid #CA8E82;
    border-radius: 36px;
    max-width: 1500px;
    margin: 0 auto;
  
    display: flex;
    justify-content: space-between; /* Spread image and text */
    align-items: center;
    gap: 0px; /* Optional spacing between image and text */
  }
  
  .hero-section .image-container {
    width: 50%;
  }
  
  .hero-section img {
    width: 80%;
    height: auto;
  }
  
  .hero-section .text-container {
    width: 50%;
    text-align: right;
  }
  
  .hero-section h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .hero-section p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
  }
  
  .shop-now {
    padding: 10px 20px;
    background-color: #CA8E82;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 27px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .shop-now:hover {
    background-color: #292421;
  }
  
  /* Features Section */
  .features {
    padding: 50px 20px;
  }
  
  .features h2 {
    font-size: 30px;
    color: #333;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
  
  .feature-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
  }
  
  .feature-card h3 {
    font-size: 20px;
    color: #CA8E82;
  }
  
  .feature-card p {
    font-size: 16px;
    color: #555;
  }
  